{% extends "base.html" %}

{% block title %}AXIOM - Games{% endblock %}

{% block body_attrs %}data-query-date="{{ query_date_str }}"{% endblock %}

{% block content %}
    <!-- Start of Main Games Table -->
    <div class="container mt-4">
        <!-- Alert for No Games -->
        <div id="noGamesAlert" class="alert alert-info" style="display: none;">No Games for this date.</div>

        <!-- Games Table -->
        <table class="table custom-table">
            <thead>
                <tr>
                    <th rowspan="2"></th>
                    <th rowspan="2">Home</th>
                    <th rowspan="2">Away</th>
                    <th colspan="2" class="text-center">Current Score</th>
                    <th colspan="2" class="text-center">Predicted Score</th>
                    <th rowspan="2" class="text-center">Predicted Winner</th>
                </tr>
                <tr>
                    <th class="text-center">Home</th>
                    <th class="text-center">Away</th>
                    <th class="text-center">Home</th>
                    <th class="text-center">Away</th>
                </tr>
            </thead>
            <tbody id="gamesTableBody">
                <tr>
                    <td colspan="8" class="text-center">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/?date={{ prev_date }}">&lt;&lt;</a>
            </li>
            <li class="page-item active">
                <span class="page-link">{{ query_date_display_str }}</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="/?date={{ next_date }}">&gt;&gt;</a>
            </li>
        </ul>
    </nav>

    <!-- Game Details Modal -->
    <div class="modal fade" id="gameDetailsModal" tabindex="-1" aria-labelledby="gameDetailsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="gameDetailsModalLabel">Game Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <!-- Game Details Template -->
    <template id="gameDetailsTemplate">
        <div class="row flex-column-reverse flex-xl-row">
            <div class="col-lg-5" id="play_by_play">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Play By Play</th>
                            <th id="homeTeamHeader">Home</th>
                            <th id="awayTeamHeader">Away</th>
                        </tr>
                    </thead>
                    <tbody id="playByPlayBody">
                    </tbody>
                </table>
            </div>
            <div class="col-lg-7" id="live_predictions">
                <div class="row justify-content-center mb-2 border-bottom-custom" id="live_predictions_title">
                    <div class="col">
                        <h1 class="text-center">Live Predictions</h1>
                    </div>
                </div>
                <div class="row mb-4 border-bottom-custom">
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-6 text-center d-flex flex-column justify-content-center">
                                <h4 id="templateHomeTeam"></h4>
                                <h1 class="mb-0" id="templatePredictedHomeScore"></h1>
                            </div>
                            <div class="col-6 d-flex align-items-center justify-content-center">
                                <img id="templateHomeLogo" src="" alt="Team Logo" class="img-fluid-custom">
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex align-items-center justify-content-center">
                        <div class="row">
                            <div class="col text-center d-flex justify-content-center align-items-center">
                                <i class="bi bi-caret-left-fill bi-caret-left-fill-custom me-0 text-success-custom"
                                    id="winnerLeftIcon"></i>
                                <div>
                                    <h5 class="mb-0">Winner</h5>
                                    <h4 id="templatePredictedWinPct" class="mb-0"></h4>
                                </div>
                                <i class="bi bi-caret-right-fill bi-caret-right-fill-custom ms-0 text-success-custom"
                                    id="winnerRightIcon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-6 d-flex align-items-center justify-content-center">
                                <img id="templateAwayLogo" src="" alt="Team Logo" class="img-fluid-custom">
                            </div>
                            <div class="col-6 text-center d-flex flex-column justify-content-center">
                                <h4 id="templateAwayTeam"></h4>
                                <h1 class="mb-0" id="templatePredictedAwayScore"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="playerInfoContainer">
                    <div class="col-1"></div>
                    <div class="col-5 d-flex justify-content-center flex-column" id="homeTeamPlayers"></div>
                    <div class="col-1"></div>
                    <div class="col-5 d-flex justify-content-center flex-column" id="awayTeamPlayers"></div>
                </div>
            </div>
        </div>
    </template>
{% endblock %}

{% block scripts %}
    <script src="static/js/main.js"></script>
{% endblock %}
